*{
    margin:0px;
}
#navbar{

    display: flex;
    align-items: center;
    position:sticky;
    top:0px;  
    background-color:#e34331   ;
    padding:20px;
}
/* #logo{
    margin: 10px 34px;
}

#logo img{
    height: 59px;
    margin: 3px 6px;
} */

#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai', cursive;
}

#navbar ul li{ 
    list-style: none;
    font-size: 21px;
}
 
#navbar ul li a{
    color:white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}  

#navbar ul li a:hover{
    color: black;
}

#Blogs{
  margin-left:280px;  
border-radius:7px;
font-size:218px;
margin-right: 12px;
}
#login p{
    background-color: #694c1694;
    font-size:18px;
    border-radius: 7px;
    padding: 12px;
    color:white;
}
#login p:hover{
    background-color: black;
    cursor: pointer;
}



/* main css */
#main-heading{
    text-align: center;
    font-size: 51px;
    margin-top:75px;
}
#main-button{
       margin: auto;
       cursor: pointer;
    border:0px solid black;
    background-color: #e34331 ;
    font-size:20px;
    border-radius: 40px;
    padding: 25px;
    color:white;
    margin: 15px 0px 0px 585px;
    outline:none;
    transition: 0.3s;
}
#main-button:hover{
    opacity:0.8;
}
#main p{
    text-align: center;
    margin-top:30px;    
    font-size:18px;
}
 #main{
     background-image: url("img1.webp");
    background-repeat: no-repeat;
    background-size: cover;
       height:800px;
}







#head{
    text-align: center;
    font-size : 53px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding:23px;
   }
   #p{
       text-align: center;
       font-weight: bold;
       font-size:23px;
       margin-top: 23px;
   }
/* todo list css */
#todolist{
    margin-left:332px ;
     display: flex;
    align-items: center; 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
 #todolist p{
     margin-top: 20px;
    width:65%; 
    font-size: 18px;
}
#todoimage{
    height:300px;
    margin: 120px 310px 0px 0px;
}



/* links */
#links{
    margin-left:233px ;
     display: flex;
    align-items: center; 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#links h1{
    margin: 120px 0px 0px 26px;
}
 #links p{
     margin: 20px 0px 0px 26px;
    width:65%; 
    font-size: 18px;
}
#linksimage{
    margin-top:120px;
    height:300px;   
}


/* password generator */
#pswrdgenerator{

    margin-left:332px ;
     display: flex;
    align-items: center; 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#pswrdgenerator h1{
    margin-top:120px;
}
 #pswrdgenerator p{
     margin-top: 20px;
    width:65%; 
    font-size: 18px;
}
#pswrdgeneratorimage{
    height:300px;
    margin: 120px 310px 0px 0px;
}



#progtracker{
    margin-left:293px ;
     display: flex;
    align-items: center; 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#progtracker h1{
    margin: 160px 0px 0px 126px;
}
 #progtracker p{
     margin: 20px 0px 0px 126px;
    width:65%; 
    font-size: 18px;
}
#progressimage{
    margin-top:120px;
    height:300px;   
}

/* contributors */

#contributors{
    margin-top:75px;
    background-color: rgb(242 242 242);
    height: 600px;
}
#contributors h1{
    font-size:40px;
    text-align:center;
    font-family: cursive;
    text-decoration: underline;
    font-style: italic;
}
#mobiles{
    display: flex;
    margin-top: 35px;
}
#mobile1{
    height:450px;
    border:solid 7px black;
    width:18%;
    margin:20px 0px 0px 300px;
    border-radius: 20px;
}
#photo1{
    height:45%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width:243px;

}
#pp{
    text-align: center;
    font-size: 25px;
}

.mobilelinks{
    border:solid 2px black;
    height:6%;
    width:80%;
    margin-top:19px;
    margin-left:23px;
    background-color: white;
    display: flex;
    cursor: pointer;
}

.mobiletext{
    text-decoration: none;
    font-size:23px;
    padding-left:20px;
    color:black;
    font-weight: bold;
}
.mobilelinks:hover{
background-color: rgba(73, 67, 67, 0.336);
color:white;
}
#l{
    display:block;
    height:27px;
    margin-left:32px;
}

#mobile2{
    height:450px;
    border:solid 7px black;
    width:18%;
    margin:20px 0px 0px 250px;
    border-radius: 20px;
}
#contactus{
    border:solid 2px rgb(207 223 242);
    height:585px;
    background-color: rgb(207 223 242);
}
#contactus h1{
    text-align: center;
    margin-top:100px;
    font-family: Arial, Helvetica, sans-serif;
}
#contactus p{
    text-align: center;
    margin-top:20px;
    font-family: Arial, Helvetica, sans-serif;
} 
.form{
    width: 40%;
    height: 30px;
}
#msg{
    width: 40%;
}
#submitmsg{
    cursor: pointer;
    background-color: #e34331;
    border:0px;
    padding:12px;
    margin-bottom:12px;
}
#submitmsg:hover{
    background-color: rgba(248, 11, 11, 0.589);
}